@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: transparent;
  border: 2px solid #3A68B8;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3A68B8;
  color: #FFFFFF;
  border-radius: 5px;
}

.header {
  width: 100%;
  min-height: 935px;
  background-color: #09111e;
  padding: 0 180px 0 200px;
}

.header .header__navbar {
  width: 100%;
  height: 100px;
  /* Note: backdrop-filter has minimal browser support */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__navbar .header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__navbar .header__nav li {
  list-style-type: none;
  margin: 25px;
}

.header .header__navbar .header__nav li a {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}

.header .header__navbar .header__nav li a:hover {
  color: #3A68B8;
}

.header .header__navbar .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__navbar .header__logo img {
  width: 44px;
  height: 57px;
  margin-right: 15px;
}

.header .header__navbar .header__logo h1 {
  color: #3A68B8;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22.5455px;
  line-height: 31px;
  /* identical to box height */
}

.header .header__navbar button {
  width: 112px;
  height: 52px;
}

.header .header__main__container {
  width: 100%;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__main__container .header__title {
  color: #FFFFFF;
  margin-top: 160px;
  width: 40%;
}

.header .header__main__container .header__title h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  color: #3A68B8;
  text-transform: uppercase;
}

.header .header__main__container .header__title h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  /* or 71px */
  margin: 10px 0 40px 0;
}

.header .header__main__container .header__title p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  margin-bottom: 50px;
}

.header .header__main__container .header__title button {
  padding: 15px 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  -webkit-box-shadow: 28px 33px 40px -27px rgba(25, 108, 210, 0.62);
          box-shadow: 28px 33px 40px -27px rgba(25, 108, 210, 0.62);
}

.header .header__main__container .header__title button:first-child {
  margin-right: 10px;
}

.header .header__main__container .header__title button i {
  margin-right: 5px;
}

.header .header__main__container .header__img {
  margin-top: 49px;
  max-width: 600px;
  max-height: 600px;
}

.header .header__main__container .header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .header_footer_icons {
  margin-top: 150px;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
}

.header .header_footer_icons img {
  height: 59px;
}

.body__up {
  width: 100%;
  min-height: 200vh;
  background-color: #020a18;
  padding-top: 80px;
}

.body__up .up__page {
  width: 100%;
  min-height: 600px;
  padding: 0 180px 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.body__up .up__page .up__img {
  max-width: 700px;
  max-height: 650px;
}

.body__up .up__page .up__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body__up .up__page .up__title {
  width: 40%;
  color: #FFFFFF;
  padding-top: 170px;
}

.body__up .up__page .up__title h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */
}

.body__up .up__page .up__title p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  margin: 30px 0 50px 0;
}

.body__up .up__page .up__title button {
  padding: 15px 30px;
}

.body__up .body__box__itimes {
  position: relative;
  width: 100%;
  height: 570px;
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
}

.body__up .body__box__itimes .body__box {
  width: 320px;
  height: 350px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0f1724;
  border-radius: 10px;
  margin: 0 10px 20px 10px;
}

.body__up .body__box__itimes .body__box img {
  width: 73px;
  height: 69px;
}

.body__up .body__box__itimes .body__box h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  /* or 31px */
  padding: 30px 0;
  text-align: center;
}

.body__up .body__box__itimes .body__box p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 26px */
  text-align: center;
}

.body__up .body__box__itimes .box__slider {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100px;
  height: 30px;
}

.body__up .body__box__itimes .box__slider span {
  width: 15px;
  height: 15px;
  background-color: #2C3647;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */